.rank-container {
  padding: 50px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.rank-container > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #4fb6ff;
  color: #4fb6ff;
  padding: 10px 20px;
  font-weight: bold;
  width: 200px;
  align-self: center;
}

/* .rank-list {
  display: flex;
  width: 100%;
  gap: 50px;
} */
.rank-list {
  flex-wrap: wrap;
  display: grid;
  flex: none;
  gap: 20px;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(2, minmax(40px, 1fr));
  grid-template-rows: repeat(2, min-content);
  height: auto;
  justify-content: center;
  width: 100%;
  height: auto;
}
/* .rank-list > div:hover {
  box-shadow: 0 5px 8px -4px lightgray;
} */

@media screen and (max-width: 1000px) {
  .rank-container {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 500px) {
  .rank-container {
    padding: 50px 30px;
  }

  .rank-list {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-items: center;
  }
}
