.rankcard-container {
  border: 3px solid #ffb66d;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.world-img {
  width: 20px;
}

.rankcard-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.rankcard-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.rankcard-info > p > b {
  font-size: 18px;
}
.rankcard-info > p > span {
  font-size: 12px;
}
.rankcard-info > p:nth-of-type(2) {
  text-align: right;
}
.rankcard-info > p:nth-of-type(2) > b,
.rankcard-info > p:nth-of-type(2) > span {
  color: #e64c4c;
}
