.eventcard-container {
  width: 100%;
  background-color: #f7f5f5;
  border-radius: 10px;
}

.eventcard-container > div {
  padding: 20px;
}
.eventcard-container > div > p {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
