header {
  padding: 30px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}

header > a > img {
  width: 200px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-nav > .menu {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-contact {
  background-color: #4fb6ff;
  color: white;
  padding: 10px;
  border-radius: 30px;
}
.header-contact-mini {
  display: none;
  background-color: #4fb6ff;
  padding: 10px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.header-contact-mini-none {
  display: none;
}

.menu-toggle {
  display: none;
  background-color: #ffc457;
  color: white;
  border-radius: 10px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  border: none;

  transition: 0.4s;
}
.menu-toggle-clicked {
  transition: 0.4s;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 30px 100px;
  }
}

@media screen and (max-width: 800px) {
  .header-contact {
    display: none;
  }
  .header-contact-mini {
    display: block;
  }

  .header-nav {
    gap: 20px;
  }
  .header-nav > .menu {
    position: absolute;
    top: 95px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 2px 5px #0000001a;
    z-index: 1;
    display: none;
  }

  .header-nav > .menu.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
  .menu-toggle-clicked {
    transform: translateX(60px);
    transition: 0.4s;
    z-index: 1;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 30px;
  }

  header > a > img {
    width: 150px;
  }

  .header-nav {
    gap: 10px;
  }

  .header-contact-mini {
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .menu-toggle {
    font-size: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .menu-toggle-clicked {
    transform: translateX(40px);
    transition: 0.4s;
    z-index: 1;
  }
}
